altair                      
annotated-types               
anyio                         
asttokens                     
attrs                         
backcall                      
backports.functools-lru-cache
beartype                      
blinker                      
cachetools
certifi   
charset-normalizer
click             
colorama          
comm              
contourpy         
cycler           
debugpy          
decorator        
distro           
et-xmlfile       
exceptiongroup   
executing        
fonttools        
gitdb            
GitPython        
h11              
httpcore         
httpx            
idna             
importlib-metadata
ipykernel         
ipython           
jedi              
Jinja2            
jsonschema        
jsonschema-specifications 
jupyter_client            
jupyter_core              
kiwisolver                
lxml                      
markdown-it-py            
MarkupSafe                
matplotlib                
matplotlib-inline         
mdurl                     
multimethod               
mypy                      
mypy-extensions           
nest-asyncio              
nptyping                  
numpy                     
openai                    
openpyxl                  
packaging                 
pandas                    
pandera                   
parso                     
pickleshare               
Pillow                        
pip                           
platformdirs                  
prompt-toolkit                
protobuf                    
psutil                       
pure-eval                  
pyarrow                       
pydantic                  
pydantic_core                
pydeck                       
Pygments                    
pyparsing                    
PyPDF2                       
python-dateutil              
python-dotenv               
pytz                         
pywin32                       
pyzmq                         
referencing                  
requests                      
rich                         
rpds-py                       
setuptools                    
six                           
smmap                         
sniffio                       
stack-data                   
streamlit                     
tenacity                      
toml                          
toolz                         
tornado                      
tqdm                          
traitlets                    
typeguard                     
typing_extensions             
typing-inspect                
tzdata                        
tzlocal                       
urllib3                       
validators                    
watchdog                      
wcwidth                       
wheel                        
wrapt                         
zipp                          